### 1. Data Type

In [1]:
##1 numeric
###1.1 Integer example
a = 3
print("Integer:", a)
print("Type of a:", type(a))

###1.2 Float example
b = 3.14
print("Float:", b)
print("Type of b:", type(b))

Integer: 3
Type of a: <class 'int'>
Float: 3.14
Type of b: <class 'float'>

In [2]:
##2 string
###2.1 String example
s_single = 'Hello, World!'
s_double = "Hello, World!"
print("String:", s_single)
print("Type of s_single:", type(s_single))
print("String:", s_double)
print("Type of s_double:", type(s_double))

String: Hello, World!
Type of s_single: <class 'str'>
String: Hello, World!
Type of s_double: <class 'str'>

In [3]:
###2.2 Accessing elements in a string by index
first_char = s_single[0] # Python index starts with 0
end_char = s_single[-1]
first_five_chars = s_single[0:5] # Here you can use ':' to denote the range of index where you want to get the characters
print("First character:", first_char)
print("End character:", end_char)
print("First five characters:", first_five_chars)

First character: H
End character: !
First five characters: Hello

In [4]:
##3 boolean
###3.1 Boolean example
x = True
y = False
print("Boolean x:", x)
print("Boolean y:", y)
print("Type of x:", type(x))
print("Type of y:", type(y))

Boolean x: True
Boolean y: False
Type of x: <class 'bool'>
Type of y: <class 'bool'>

In [5]:
###3.2 built-in method bool()
####3.2.1 Returns False as a is not equal to b
a = 1
b = 10
print(bool(a==b))
####3.2.2 Returns False as a is None
a = None
print(bool(a))
####3.2.3 Returns False as a is an empty sequence
a = ()
print(bool(a))
####3.2.4 Returns False as a is an empty mapping
a = {}
print(bool(a))
####3.2.5 Returns False as a is 0
a = 0
print(bool(a))
####3.2.6 Returns True as a is a non-empty string
a = 'LovePython!'
print(bool(a))

False
False
False
False
False
True

In [6]:
###3.3 from the expression
a = 1
b = 10
print(a==b)
c = 1
print(a==c)

False
True

In [7]:
###3.4 Integers and floats as Booleans
## Integers, floating-point number, or complex number having zero as a value is considered as False,
## while if they are having none-zero value as any positive or negative number then it is considered as True
a = 0
print(bool(a))
b = 10
print(bool(b))
c = -12.3
print(bool(c))

False
True
True

In [8]:
##4. sequence
###4.1 List example
list_example = [1, 2, 3, "Python", 4.5]
print("List:", list_example)
print("Type of list_example:", type(list_example))

List: [1, 2, 3, 'Python', 4.5]
Type of list_example: <class 'list'>

In [9]:
###4.2 Accessing and modifying elements by index in a list
print("First element:", list_example[0])
list_example[1] = "changeAsExample"
print("Modified list:", list_example)

First element: 1
Modified list: [1, 'changeAsExample', 3, 'Python', 4.5]

In [10]:
###4.3 Tuple example
tuple_example = (1, 2, 3, "Python", 4.5)
print("Tuple:", tuple_example)
print("Type of tuple_example:", type(tuple_example))

Tuple: (1, 2, 3, 'Python', 4.5)
Type of tuple_example: <class 'tuple'>

In [11]:
###4.4 Accessing elements by index 
print("First element:", tuple_example[0])

First element: 1

In [12]:
###4.5 Trying to modify elements by index in a tuple
tuple_example[1] = "changeAsExample"

TypeError: 'tuple' object does not support item assignment

##### The output from trying to modify elements: TypeError: 'tuple' object does not support item assignment
##### This reflects the immutable characteristic of tuple: content cannot be changed once assigned

In [13]:
###4.6 Range example
range_example = range(3)
print("Range:", range_example) 
print("Range elements by list:", list(range_example))  # Convert to list to see the elements
print("Type of range_example:", type(range_example))

Range: range(0, 3)
Range elements by list: [0, 1, 2]
Type of range_example: <class 'range'>

In [14]:
###4.7 Using range in a loop, which be further introduced in Chapter 4
for i in range_example:
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2

In [15]:
##5. Dictionary
###5.1 Dictionary example
dict_example = {"name": "Alice", "age": 25, "city": "Boston"}
print("Dictionary:", dict_example)
print("Type of dict_example:", type(dict_example))

Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Boston'}
Type of dict_example: <class 'dict'>

In [16]:
###5.2 Get a list of keys
key_list = dict_example.keys()
print("All keys in dict_example:", key_list)

All keys in dict_example: dict_keys(['name', 'age', 'city'])

In [17]:
###5.3 Accessing values by keys by two methods
print("Name:", dict_example["name"])
print("Name:", dict_example.get("name"))

Name: Alice
Name: Alice

In [18]:
###5.4 Adding and modifying elements
dict_example["age"] = 26
dict_example["country"] = "USA"
print("Modified dictionary:", dict_example)

Modified dictionary: {'name': 'Alice', 'age': 26, 'city': 'Boston', 'country': 'USA'}

In [19]:
###5.5 Measure the number of elements (key:value paris)
print(len(dict_example)) # after dict_example was modified, where 'country' key and its corresponding value was added.

4

In [20]:
###5.6 Values in dictionary items can be of any data type (e.g., list, boolean, etc.)
dict_example['list_example'] = ['red','green','blue']
dict_example['boolean_example'] = True
print(dict_example)

{'name': 'Alice', 'age': 26, 'city': 'Boston', 'country': 'USA', 'list_example': ['red', 'green', 'blue'], 'boolean_example': True}

In [21]:
###5.7 Create dictionary with dict() function
create_dict_example = dict(name="Alice", age=25, city="Boston")
print(create_dict_example)

{'name': 'Alice', 'age': 25, 'city': 'Boston'}

In [22]:
##6. set
###6.1 Set examples
set_example_1 = {1, 2, 3, 4, 4, 5}
set_example_2 = {1, 2, 3, 4, 5}
print("Set example 1:", set_example_1)
print("Set example 2:", set_example_2)
print("Type of set_example_1:", type(set_example_1))
print("Type of set_example_2:", type(set_example_2))

Set example 1: {1, 2, 3, 4, 5}
Set example 2: {1, 2, 3, 4, 5}
Type of set_example_1: <class 'set'>
Type of set_example_2: <class 'set'>

In [23]:
###6.2 Adding and removing elements
set_example_1.add(6) # add element 6 into the set_example_1
set_example_1.remove(3) # remove element 3 into the set_example_1
print("Modified set:", set_example_1)

Modified set: {1, 2, 4, 5, 6}

In [24]:
###6.3 Access elements form a set
# a loop will be needed as there is no index within a set (after addition and removal of elements in set_example_1)
for element in set_example_1:
    print(element)

1
2
4
5
6

In [25]:
###6.4 Join sets
set_join_1 = {"a", "b", "c", 1}
set_join_2 = {1, 2, 3, 'b'}
# different joins:
# union() and update() methods joins all items from both sets
# intersection() method keeps ONLY the duplicates from both/all sets
# difference() method keeps the items from the first set that are not in the other set(s) to be joined
# symmetric_difference() method keeps all items EXCEPT the duplicates from all the joined sets

joined_set_1 = set_join_1.union(set_join_2)
joined_set_2 = set_join_1.intersection(set_join_2)
joined_set_3 = set_join_1.difference(set_join_2)
joined_set_4 = set_join_1.symmetric_difference(set_join_2)

print('Joined set by union:', joined_set_1)
print('Joined set by intersection:', joined_set_2)
print('Joined set by difference:', joined_set_3)
print('Joined set by symmetric_difference:', joined_set_4)

Joined set by union: {1, 'c', 2, 3, 'a', 'b'}
Joined set by intersection: {1, 'b'}
Joined set by difference: {'a', 'c'}
Joined set by symmetric_difference: {2, 3, 'c', 'a'}

In [26]:
##7. NoneType
###7.1 NoneType example
x = None
print("Value of x:", x)
print("Type of x:", type(x))

Value of x: None
Type of x: <class 'NoneType'>

In [27]:
###7.2 Checking if a variable is None
if x is None:
    print("x is None")

x is None

In [28]:
###7.3 Use of NoneType in if condition (to be further introduced in Chapter 3 Conditional Logic)
if x:
    print(1)
else:
    print(10)

10

### 2. Variables

In [29]:
##1 variables assignment & output
###1.1 Variable creation and assignment examples
x = 5  # Creating and assigning an integer to variable x
y = 3.14  # Creating and assigning a float to variable y
name = "Tony"  # Creating and assigning a string to variable name
is_active = True  # Creating and assigning a Boolean to variable is_active
a, b, c = "red", "green", "blue" # Creating and assigning multiple values to multiple variables a, b, c
d = e = f = "red" # Creating and assigning the same value to multiple variables d, e, f

# Printing variables
print("x =", x)
print("y =", y)
print("name =", name)
print("is_active =", is_active)
print("a, b, c:", a, b, c)
print("d, e, f:", d, e, f)

x = 5
y = 3.14
name = Tony
is_active = True
a, b, c: red green blue
d, e, f: red red red

In [30]:
###1.2 Checking types of variables
print("Type of x:", type(x))
print("Type of y:", type(y))
print("Type of name:", type(name))
print("Type of is_active:", type(is_active))

Type of x: <class 'int'>
Type of y: <class 'float'>
Type of name: <class 'str'>
Type of is_active: <class 'bool'>

In [31]:
##2 overwriting variables
###2.1 Overwriting example & process
## Initial assignment
x = 1
print("Initial value of x:", x)

## Overwriting with a new integer
x = 10
print("After overwriting x with a new integer:", x)

## Overwriting with a different type (float)
x = 10.1
print("After overwriting x with a float:", x)

## Overwriting with a string
x = "Python"
print("After overwriting x with a string:", x)

## Overwriting with a Boolean
x = True
print("After overwriting x with a Boolean:", x)

Initial value of x: 1
After overwriting x with a new integer: 10
After overwriting x with a float: 10.1
After overwriting x with a string: Python
After overwriting x with a Boolean: True

### 3. Conditional Logic

In [32]:
##1 boolean expression
###1.1 Boolean expression examples
var_1 = 1
var_2 = 10
## Checking if var_1 is less than var_2
is_less_than = var_1 < var_2
print("Is var_1 less than var_2?", is_less_than)

## Checking if var_1 is equal to var_2
is_equal = var_1 == var_2
print("Is var_1 equal to var_2?", is_equal)

## Checking if var_1 is greater than var_2
is_greater_than = var_1 > var_2
print("Is var_1 greater than var_2?", is_greater_than)

Is var_1 less than var_2? True
Is var_1 equal to var_2? False
Is var_1 greater than var_2? False

In [33]:
##2 boolean operations
###2.1 Boolean operation examples
boolean_var_1 = True
boolean_var_2 = False

###2.2 AND operation
result_and = boolean_var_1 and boolean_var_2
print("Result by boolean_var_1 and boolean_var_2:", result_and)
print('\n')
###2.3 OR operation
result_or = boolean_var_1 or boolean_var_2
print("Result by boolean_var_1 or boolean_var_2:", result_or)
print('\n')
###2.4 NOT operation
result_not = not boolean_var_1
print("Result by not boolean_var_1:", result_not)
print('\n')
#2.5 Combining multiple Boolean expressions
boolean_var_3 = 1
boolean_var_4 = 10
combined_result = (boolean_var_3 < boolean_var_4) and (boolean_var_3 > 5)
print("Is boolean_var_3 < boolean_var_4 and boolean_var_3 > 5?", combined_result)

Result by boolean_var_1 and boolean_var_2: False


Result by boolean_var_1 or boolean_var_2: True


Result by not boolean_var_1: False


Is boolean_var_3 < boolean_var_4 and boolean_var_3 > 5? False

In [34]:
##3 conditional statements with Boolean
###3.1 Boolean operation as condition statement
boolean_var_1 = True
boolean_var_2 = False
if boolean_var_1: # It starts with checking 'if' statement, when 'if' statement is True, it will print boolean_var_1
    print('boolean_var_1:',boolean_var_1)
else: # When 'if' statement is False, it will execute this code to print boolean_var_2
    print('boolean_var_2:',boolean_var_2)

boolean_var_1: True

In [35]:
###3.2 AND operation as condition statement
result_and = boolean_var_1 and boolean_var_2
if result_and:
    print('boolean_var_1:',boolean_var_1)
else:
    print('boolean_var_2:',boolean_var_2)

boolean_var_2: False

In [36]:
###3.3 OR operation as condition statement
result_or = boolean_var_1 or boolean_var_2
if result_or:
    print('boolean_var_1:',boolean_var_1)
else:
    print('boolean_var_2:',boolean_var_2)

boolean_var_1: True

In [37]:
###3.4 NOT operation as condition statement
result_not = not boolean_var_1
if result_not:
    print('boolean_var_1:',boolean_var_1)
else:
    print('boolean_var_2:',boolean_var_2)

boolean_var_2: False

In [38]:
###3.5 Combining multiple Boolean expressions as condition statement, and adding elif condition
boolean_var_3 = 1
boolean_var_4 = 10
combined_result = (boolean_var_3 < boolean_var_4) and (boolean_var_3 > 5)

if combined_result: # It starts with checking 'if' statement, when 'if' statement is True, it will print boolean_var_1
    print('boolean_var_1:',boolean_var_1)
elif result_or: # When 'if' statement is False, it goes to check this 'elif' condition, and will print boolean_var_3 when 'elif' statement is True
    print('boolean_var_3:', boolean_var_3)
else: # When both 'if' and 'elif' statements are False, it will execute this code to print boolean_var_2
    print('boolean_var_2:',boolean_var_2)

boolean_var_3: 1

### 4. Loops

In [39]:
##1 for loop
###1.1 For loop to iterate over a list
number_list = [1, 2, 3, 4, 5]
for number in number_list:
    print("Current number:", number)

Current number: 1
Current number: 2
Current number: 3
Current number: 4
Current number: 5

In [40]:
###1.2 For loop to iterate over a string
string_example = "Python"
for char in string_example:
    print("Current character:", char)

Current character: P
Current character: y
Current character: t
Current character: h
Current character: o
Current character: n

In [41]:
###1.3 For loop to iterate over a string
string_example = "Python"
for char in string_example:
    print("Current character:", char)

Current character: P
Current character: y
Current character: t
Current character: h
Current character: o
Current character: n

In [42]:
###1.4 For loop to iterate over a range (see code sample in section 4.7) and set (see code sample in section 6.3)

###1.5 The loop control (break, continue and pass) statements in for loop
####1 Break statement: to can stop the loop before it has looped through all the items
for i in range(1, 6):
    if i == 3:
        break  # Exit the loop when i is 3
    print("i =", i)
print('\n')
####2 Continue statement: to stop the current iteration of the loop, and continue with the next
for i in range(1, 6):
    if i == 3:
        continue  # Skip the iteration when i is 3
    print("i =", i)
print('\n')
####3 Pass statement: to do nothing and is often used as a placeholder where code is required syntactically
for i in range(1, 6):
    if i == 3:
        pass  # Placeholder, does nothing
    print("i =", i)

i = 1
i = 2


i = 1
i = 2
i = 4
i = 5


i = 1
i = 2
i = 3
i = 4
i = 5

In [43]:
##2 while loop
###2.1 Basic while loop example
i = 1
# While loop to print numbers from 1 to 5
while i <= 5:
    print("i =", i)
    i += 1  # Increment the counter to avoid an infinite loop

i = 1
i = 2
i = 3
i = 4
i = 5

In [44]:
###2.2  The loop control (break, continue and pass) statements in while loop
####1 break statement
i = 1
while i < 5:
    print("i =", i)
    if i == 3:
        break  # Exit the loop when i equals 3
    i += 1
print('\n')
####2 continue statement
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue  # Skip the rest of the code block when i equals 3
    print("i =", i)

i = 1
i = 2
i = 3


i = 1
i = 2
i = 4
i = 5

In [45]:
##3 nested loop
###3.1 nested loop example
for i in range(1, 3):  # Outer loop
    for j in range(1, 3):  # Inner loop
        print(i,j)

1 1
1 2
2 1
2 2

In [46]:
##4 enumerate
###4.1 Using enumerate with a list
fruit_list = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruit_list):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry

In [47]:
###4.2 Using enumerate with a string
string_example = "Python"
for index, char in enumerate(string_example):
    print(f"Character {char} at Index {index}")

Character P at Index 0
Character y at Index 1
Character t at Index 2
Character h at Index 3
Character o at Index 4
Character n at Index 5

### 5. Function

In [48]:
##1 Define a function
## Use the def keyword, followed by the function name and parentheses where to put defined parameters
##1.1 define a function without any parameters
def print_hello_world(): # keyword def, function name as print_hello_world and a parentheses, and no defined parameters in this function
    print("Hello World!")
##1.2 define a funtion with parameters
def add_numbers(x,y): # parameters x and y are in the parentheses
    addition = x + y
    return addition

In [49]:
##2 Call a function
###2.1 call a function without any parameters
print_hello_world()
print('\n')
###2.2 call a function with parameters
### by keyword arguments
z1 = add_numbers(x=1,y=2) # here we use keyword argument x and y as defined in the add_numbers function
print("Sum of 1 and 2 by calling add_numbers with keyword argument: ", z1)
print('\n')
### by positional arguments
z2 = add_numbers(1,2) # here we use positional arguments 1 for x's position and 2 for y's position as defined in the add_numbers function
print("Sum of 1 and 2 by calling add_numbers with positional argument: ", z2)
print('\n')
###2.3 calling the same function for same type but different tasks
z3 = add_numbers(7,8)
z4 = add_numbers(237,856)
print("Task 1 of calling add_numbers:", z3)
print('\n')
print("Task 2 of calling add_numbers:", z4)

Hello World!


Sum of 1 and 2 by calling add_numbers with keyword argument:  3


Sum of 1 and 2 by calling add_numbers with positional argument:  3


Task 1 of calling add_numbers: 15


Task 2 of calling add_numbers: 1093

In [50]:
# format to use initiate a lambda function is "lambda arguments : expression"
##3 Basic Lambda Function
###3.1 add function
add = lambda x : x + 10
print(add(1))
print('\n')
###3.2 lambda function within defined function
def lambda_use_func(n):
  return lambda x : x * n
### use lambda_use_func(n) to build a function to compute the 2 times a variable
double_function = lambda_use_func(2) #with lambda_use_func(2) we build a function with parameter as x and compute its product with 2
print(double_function(5))
print('\n')
triple_function = lambda_use_func(3) #with lambda_use_func(3) we build a function with parameter as x and compute its product with 3
print(triple_function(5))
### By here, we can see using lambda function within a defined function can help reduce the number of using def to define different functions
### we can use one function (e.g., lambda_use_func(n)) to create the functions to build other specific functions such as double_function and triple_function
### with that, lambda function helps make our code more concise and simple

11


10


15

In [51]:
##4 Importing the sqrt function (external function) from the math module
from math import sqrt
result_1 = sqrt(16)
print(result_1)

4.0

In [52]:
##5 Importing the entire math module
import math
result_2 = math.sqrt(25)
print(result_2)

5.0

### 6. Comprehensions

In [53]:
# basic format for list comprehension is: [expression for item in iterable]
## expression: The value to be added to the new list;
## item: The variable that represents each element in the iterable
## iterable: The collection being iterated over (e.g., a list, tuple, or range)

##1 list comprehension without conditions
## Traditional way using a loop
list_example_tradition = []
for x in range(10):
    list_example_tradition.append(x*2)
## List comprehension
list_example_comprehension = [x*2 for x in range(10)]

print('List from traditional loop: ', list_example_tradition)
print('\n')
print('List from list comprehension: ', list_example_comprehension)

List from traditional loop:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]


List from list comprehension:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [54]:
##2 list comprehension with conditions
list_example_comprehension_condition = [x*2 for x in range(10) if x%2==0] # we add a if condition so that only even number will be used to create the list_example_comprehension_condition
print('List from list comprehension with conditions: ', list_example_comprehension_condition)

List from list comprehension with conditions:  [0, 4, 8, 12, 16]

In [55]:
# basic format for Dictionary comprehension is: {key_expression: value_expression for item in iterable}
## key_expression: The expression that defines the key for each item.
## value_expression: The expression that defines the value for each item.
## item: The variable that represents each element in the iterable.

##3 Dictionary comprehension example
## Traditional way using a loop
dictionary_example_tradition = {}
for x in range(5):
    dictionary_example_tradition[x] = x*2
## List comprehension
dictionary_example_comprehension = {x: x*2 for x in range(5)}

print('Dictionary from traditional loop: ', dictionary_example_tradition)
print('\n')
print('Dictionary from dictionary comprehension: ', dictionary_example_comprehension)

Dictionary from traditional loop:  {0: 0, 1: 2, 2: 4, 3: 6, 4: 8}


Dictionary from dictionary comprehension:  {0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [56]:
##4 Swapping Keys and Values with dictionary comprehension
## Original dictionary
fruit_to_color = {
    'apple': 'red',
    'banana': 'yellow',
    'grape': 'purple'
}

## Swapping keys and values
color_to_fruit = {color: fruit for fruit, color in fruit_to_color.items()}

print("Original dictionary: ", fruit_to_color)
print("Dictionary after swapping keys and values: ", color_to_fruit)

Original dictionary:  {'apple': 'red', 'banana': 'yellow', 'grape': 'purple'}
Dictionary after swapping keys and values:  {'red': 'apple', 'yellow': 'banana', 'purple': 'grape'}